<div
    class="absolute flex flex-row justify-between items-stretch w-full text-white min-h-10 px-8 py-3 z-10"
>
    <!--<img src="../../assets/images/logo/logo-cge.svg" />-->
    <i class="fa-brands fa-trello text-4xl"></i>
    <ul
        class="flex flex-row items-center gap-6 rounded-lg bg-gray-900 px-4 text-sm border-gray-700 border-1 shadow-xs shadow-gray-700"
    >
        <li
            class="hover:bg-gray-700 inline-block px-2 py-1 rounded-lg transition-all"
        >
            <a href="#">Acceuil</a>
        </li>
        <li
            class="hover:bg-gray-700 inline-block px-2 py-1 rounded-lg transition-all"
        >
            <a href="#">Services</a>
        </li>
        <li
            class="hover:bg-gray-700 inline-block px-2 py-1 rounded-lg transition-all"
        >
            <a href="#">Prix</a>
        </li>
        <li
            class="hover:bg-gray-700 inline-block px-2 py-1 rounded-lg transition-all"
        >
            <a href="#">Contact</a>
        </li>
    </ul>
    <i
        class="fa-regular fa-user text-xl bg-gray-900 rounded-lg p-3 border-gray-700 border-1"
    ></i>
</div>
