// Définition des variables SCSS globales

// Couleurs principales
$color-primary: #382D70; // Violet foncé
$color-secondary: #080711; // Violet très foncé
$color-ui: rgba(255, 255, 255, 0.4) // Blanc semi-transparent pour les éléments UI