.login-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-page form {
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

